.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wrapper {
  margin-top: 76px;
}
.dev-05 {
  background: #8ed6f8;
}
.g-bnt {
  display: inline-block;
  border: 1px solid #5d5d5d;
  line-height: 48px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  margin-left: 0;
  font-size: 18px;
  font-family: 'Conv_Poppins-Medium', sans-serif;
  color: #5d5d5d;
  padding: 0 40px;
}
.g-bnt:hover,
.g-bnt.active {
  background: #5d5d5d;
  border: 1px solid #5d5d5d;
  color: #fff;
}
.g-bntdos {
  display: inline-block;
  border: 1px solid #5d5d5d;
  line-height: 48px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  margin-left: 0;
  font-size: 18px;
  font-family: 'Conv_Poppins-Medium', sans-serif;
  color: #5d5d5d;
  padding: 0 40px;
}
.g-bntdos:hover,
.g-bntdos.active {
  background: #fff;
  border: 1px solid #fff;
  color: #004998;
}
.g-tittle h3 {
  font-size: 30px;
  text-align: center;
  font-family: 'Conv_Poppins-Medium', sans-serif;
  position: relative;
  color: #004998;
}
.g-tittle h3:before {
  content: "";
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #47c6e4;
  margin-bottom: -15px;
}
