.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wrapper {
  margin-top: 76px;
}
.b33 {
  padding: 30px 0;
}
.b33-ultimo {
  background-color: #f7f8f8;
  padding-bottom: 30px;
}
.b33-titulo-ultimo {
  padding: 30px 0;
}
.b33-titulo-ultimo h3 {
  font-size: 28px;
  font-family: 'Conv_Poppins-Medium', sans-serif;
  color: #5d5d5d;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 5px;
}
.b33-titulo-ultimo h3:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 50px;
  background-color: #004998;
}
@media screen and (max-width: 768px) {
  .b33-titulo-ultimo {
    padding: 20px;
  }
  .b33-titulo-ultimo h3 {
    font-size: 21px;
  }
}
.b33-titulo-ultimo.pink h3:after {
  background-color: #b44fe9;
}
.b33-search-title {
  padding: 20px 0;
}
.b33-search-title h3 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 21px;
  color: #004998;
  font-family: 'Conv_Poppins-Medium', sans-serif;
}
@media screen and (max-width: 768px) {
  .b33-search-title h3 {
    font-size: 17px;
  }
}
.b33-search-title.pink h3 {
  color: #b44fe9;
}
.b33-search-title.blue h3 {
  color: #004998;
}
.b33-no-slider {
  width: 100%;
}
.b33-no-slider .b33-item,
.b33-no-slider .b21-item {
  display: inline-block;
  vertical-align: top;
  width: 31.5%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.b33-no-slider .b33-item:nth-child(3n + 1),
.b33-no-slider .b21-item:nth-child(3n + 1) {
  margin-left: 0;
}
.b33-si-slider .b33-item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.b33-si-slider .b21-item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-left: 0;
}
.b33-cnt-slider {
  position: relative;
}
.b33-cnt-slider .owl-nav {
  width: 100%;
  position: absolute;
  top: 40%;
}
.b33-cnt-slider .owl-prev,
.b33-cnt-slider .owl-next {
  position: absolute;
  font-size: 0;
}
.b33-cnt-slider .owl-prev:before,
.b33-cnt-slider .owl-next:before {
  font-size: 70px;
  font-family: 'icomoon';
  color: #5d5d5d;
}
.b33-cnt-slider .owl-prev:hover:before,
.b33-cnt-slider .owl-next:hover:before {
  color: #c3c3c3;
}
.b33-cnt-slider .owl-prev.disabled:before,
.b33-cnt-slider .owl-next.disabled:before {
  color: #c3c3c3;
}
.b33-cnt-slider .owl-prev {
  right: 100%;
}
.b33-cnt-slider .owl-prev:before {
  content: "\e607";
}
.b33-cnt-slider .owl-next {
  left: 100%;
}
.b33-cnt-slider .owl-next:before {
  content: "\e606";
}
.b33-box {
  padding: 30px 15px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.b33-box h3 {
  font-size: 15px;
  font-family: 'Conv_Poppins-Medium', sans-serif;
  color: #434040;
  margin-bottom: 0;
  line-height: 1.4;
}
.b33-item,
.b21-item {
  display: inline-block;
  vertical-align: top;
  width: 31.99%;
  margin-left: 2%;
  margin-bottom: 2%;
  position: relative;
}
.b33-item:nth-child(3n + 1),
.b21-item:nth-child(3n + 1) {
  margin-left: 0;
}
@media screen and (min-width: 1025px) {
  .b33-item:hover .b33-figure figcaption,
  .b21-item:hover .b33-figure figcaption {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  .b33-item:hover .b33-box,
  .b21-item:hover .b33-box {
    background-color: #fff;
    border-color: #ddd;
  }
}
@media screen and (max-width: 1024px) {
  .b33-item .b33-figure figcaption,
  .b21-item .b33-figure figcaption {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    visibility: visible;
  }
  .b33-item .b33-box,
  .b21-item .b33-box {
    background-color: #fff;
    border-color: #ddd;
  }
}
.b33-content {
  font-size: 0;
  width: 100%;
}
.b33-figure {
  position: relative;
  width: 100%;
  height: 255px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.b33-figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: background 0.3s, opacity 0.3s;
  -moz-transition: background 0.3s, opacity 0.3s;
  -o-transition: background 0.3s, opacity 0.3s;
  -ms-transition: background 0.3s, opacity 0.3s;
  transition: background 0.3s, opacity 0.3s;
}
.b33-figure i {
  font-size: 30px;
  color: #fff;
  display: block;
  position: absolute;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
}
.b33-figcaption {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.b33-figcaption h3 {
  font-size: 15px;
  font-family: 'Conv_Poppins-Medium', sans-serif;
  color: #434040;
  margin-bottom: 0;
  line-height: 1.4;
}
.b33-date {
  font-size: 14px;
  color: #004998;
  display: block;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
  font-family: 'Conv_Poppins-Light';
  padding-bottom: 10px;
}
.b33-pager {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.b33-cnt-pager a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 16px;
  color: #5d5d5d;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.b33-cnt-pager a.active,
.b33-cnt-pager a:hover {
  color: #004998;
}
.b33-cnt-pager i {
  font-size: 20px;
  display: block;
}
.b33-cnt-pager .b33-prev,
.b33-cnt-pager .b33-next {
  color: #5d5d5d;
}
.b33-cnt-pager .b33-prev:hover,
.b33-cnt-pager .b33-next:hover,
.b33-cnt-pager .b33-prev.active,
.b33-cnt-pager .b33-next.active {
  color: #000;
}
.b33-cnt-pager.pink a.active,
.b33-cnt-pager.pink a:hover {
  color: #b44fe9;
}
@media screen and (max-width: 1150px) {
  .b33-cnt-slider .owl-dots {
    text-align: center;
    padding: 25px 0;
  }
  .b33-cnt-slider .owl-dot {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #d8dade;
    margin-left: 10px;
  }
  .b33-cnt-slider .owl-dot.active {
    background-color: #5d5d5d;
  }
}
@media screen and (max-width: 768px) {
  .b33 {
    padding: 20px 0;
  }
  .b33-item,
  .b21-item {
    width: 49%;
  }
  .b33-item:nth-child(3n + 1),
  .b21-item:nth-child(3n + 1) {
    margin-left: 2%;
  }
  .b33-item:nth-child(2n + 1),
  .b21-item:nth-child(2n + 1) {
    margin-left: 0;
  }
  .b33-content {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .b33 {
    padding: 15px 0px;
  }
  .b33-item,
  .b21-item {
    width: 100%;
    margin-left: 0;
  }
  .b33-item:nth-child(3n + 1),
  .b21-item:nth-child(3n + 1) {
    margin-left: 0;
  }
  .b33-item:nth-child(2n + 1),
  .b21-item:nth-child(2n + 1) {
    margin-left: 0;
  }
  .b33-figcaption {
    padding: 10px;
  }
  .b33-figcaption {
    padding: 10px 15px;
  }
  .b33-ultimo {
    padding-bottom: 0px;
  }
}
