.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wrapper {
  margin-top: 76px;
}
.b35 {
  margin-top: 50px;
}
.b35 .g-tittle-center h3 {
  font-size: 25px;
}
.b35 .g-btn-unico.g-naranja {
  background-color: #eebd24;
  border: 1px solid #eebd24;
  color: #fff;
  width: 200px;
  height: 34px;
  line-height: 34px;
  display: inline-block;
}
.b35 .wancho {
  display: table;
  width: 460px;
}
.contenedor {
  max-width: 461px;
  text-align: center;
  width: 100%;
  display: block;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
.b35-error {
  position: relative;
  text-align: justify;
}
.b35-error h3 {
  font-family: 'Conv_Poppins-SemiBold', sans-serif;
  font-size: 70px;
  color: #ef8f00;
}
.b35-imagen {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 55%;
}
.b35-texto span {
  font-family: 'Conv_Roboto-Bold', sans-serif;
  font-size: 15px;
}
.b35-texto p {
  font-family: 'Conv_Poppins-Medium', sans-serif;
  font-size: 14px;
  color: #000;
  margin-bottom: 30px;
}
.b26-imagen {
  height: 57px;
}
@media screen and (max-width: 460px) {
  .b35-error:before {
    left: 25%;
  }
  .b35-texto p {
    text-align: justify;
  }
  .b35-error h3 {
    font-size: 60px;
    text-align: center;
  }
  .b35-imagen {
    display: none;
  }
}
