.dev-05
	background #8ed6f8
.g-bnt
	display inline-block
	border 1px solid #5d5d5d
	line-height: 48px
	border-radius 30px
	text-align center
	margin-left 0
	font-size: 18px
	font-family: t-0
	color #5d5d5d
	padding 0 40px
	&:hover, &.active
		background #5d5d5d
		border 1px solid #5d5d5d
		color white
		
.g-bntdos
	display inline-block
	border 1px solid #5d5d5d
	line-height: 48px
	border-radius 30px
	text-align center
	margin-left 0
	font-size: 18px
	font-family: t-0
	color #5d5d5d
	padding 0 40px
	&:hover, &.active
		background #fff
		border 1px solid #fff
		color #004998

.g-tittle
	h3
		font-size 30px
		text-align center
		font-family t-0
		position relative
		color c-1
		&:before
			content ""
			position absolute
			bottom 0
			margin auto
			left 0
			right 0
			display inline-block
			width 30px
			height 2px
			background-color c-5
			margin-bottom -15px


