.b10
	font-size 0
	margin-top -1px
	padding 0
	padding-bottom 10px
	text-align center
	.owl-dot
		width 13px
		height 13px
		background #D8DADE
		border-radius 50%
		display inline-block
		margin 15px 5px
	.active
		background #5D5D5D

.b10-owl-carrusel
	width 100%

.b10-box-slider
	max-width 100%

.b10-item
	display inline-block
	vertical-align top
	max-width 463px
	img
		img-res()
	
// @media screen and (max-width 960px)
// 	.b10-box-slider
// 		max-width 674px
// 		margin auto