.b21
	margin-top 35px
	font-size 0
	.g-tittle
		margin-bottom 30px
		display inline-block
		h3
			text-align left
			margin 0
			&:before
				content ''
				width 100px
				right inherit
	.g-bnt
		border 1px solid #f7f7f7
		display block
		text-align center
		margin auto
		line-height 38.2px
		width 42%
		font-size 12px
		margin-top 20px
		cursor pointer
.b21-figura
	position relative
	img
		height auto
		max-width 100%
		display block
.b21-footer
	box-sizing border-box
	position absolute
	width 100%
	text-align left
	left 0px
	bottom 0
	box-sizing border-box
	transform translate3d(0,0,0)
	opacity 1 
	transition transform .3s , opacity .3s
	padding-left 10px
	h3
		color c-24
		height 70px
		padding 10px
		box-sizing border-box
		font-family t-0
		display table-cell 
		width 500px
		vertical-align middle
		font-size 15px
		margin-bottom 0
		line-height 1.2
.b21-item
	overflow hidden
	@media screen and (min-width 1025px)
		&:hover 
			.b21-hover
				opacity 1
				transform translate3d(0,0,0)
			.b21-footer
				opacity 0
				transform translate3d(0,100%,0)
	@media screen and (max-width 1024px)
		.b21-hover
			opacity 1
			transform translate3d(0,0,0)
		.b21-footer
			opacity 0
			transform translate3d(0,100%,0)
.b21-hover
	color c-24
	width 100%
	height 100%
	display block
	box-sizing border-box
	text-align center
	position absolute
	top 0
	opacity 0
	font-size 0
	transition 250ms linear
	transition opacity .3s , transform .3s
	transform translate3d(0,-100%,0)
	a
		color c-24 
	&:before
		content ''
		width 0
		height 100%
		display inline-block
		vertical-align middle
.b21-info
	display inline-block
	vertical-align middle
	padding 0px 10px
	text-align center
	p
		font-size 15px
		font-family t-0
		line-height 1.5
	a 
		margin auto
	.g-bnt
		border-color white 
		line-height 30px
		padding 0 20px
		font-size 14px
		&:hover 
			background white
			color  #b44fe9


@media screen and (max-width 1074px)
	.b21
		text-align center
@media screen and (max-width 930px)
	.b21-info
		p 
			font-size 13px
	.b21-figura 
		img
			max-width 120%
@media screen and (max-width 768px)
	.b21-info
		p 
			font-size 15px
	.b21-figura 
		img
			max-width 100%
@media screen and (max-width 620px)
	.b21-info
		p 
			font-size 13px
	.b21-figura 
		img
			max-width 120%
@media screen and (max-width 480px)
	.b21
		.g-tittle h3
			font-size 23px
	.b21-info
		p 
			font-size 15px
	.b21-figura 
		img
			max-width none 
			width 100%


	


		


	