// *
// 	outline 1px dashed red
.b28
	height  459px
	background-size cover
	background-position center center
	background-repeat no-repeat
	padding-top 50px
	.g-tittle-center.g-blue h3
		color white
	.g-tittle-center.g-before-celeste h3:before
		background-color white
	.b28-main	
		position relative
		&:before
			content ""
			bottom: 0;
			top: 0;
			margin auto 
			width 104%
			height 10px
			position absolute
			border-radius 20px
			background-color #fff
			top  0
			bottom 0
			left -38px
			margin auto
	.owl-item	
		.b28-item
			display block
			width auto
			
	.owl-prev, .owl-next 
		display inline-block
		position absolute
		width 23px
		height 43px
		top 40%
		cursor pointer
		
		&:after
			font-family icomoon
			font-size 42px
			color #fff
			
		
	.owl-prev
		left -80px
		&:after
			content "\e92e"		
		
	.owl-next 
		right -60px
		&:after
			content "\e92f"			
			
			
.b28-circulos
	transition-all()
	&:before
		content ""
		width 30px
		height 30px
		background-color c-1
		position absolute
		border-radius 50%
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		transition-all()

		
.b28-content
	margin-top 40px
	font-size 0
.b28-item
	width 25%
	height 260px
	position relative
	display inline-block
	vertical-align top
	em
		font-family t-9
		font-size 18px
		color white
	p
		font-family t-9
		font-size 13px
		color white
		margin-bottom 0
	&.inpar
		.b28-texto
			top inherit
			bottom 0
	&:hover, &.active
		.b28-circulos
			background-color c-1
			&:before
				background-color #fff			
.b28-texto
	top 0
	height 95px
	overflow hidden
	position absolute

	
@media screen and (max-width:1200px)
	.b28 .b28-main:before
		width 102%
		left -1%
	.b28 
		.owl-prev
			left -40px

		.owl-next
			right -40px

	.b28 .owl-prev, .b28 .owl-next
		top 42%

@media screen and (max-width:1120px)
	.b28-main
		&.wancho
			max-width 768px

@media screen and (max-width:960px)
	.b28-item
		height auto 
		em
			color #134b286
	.b28-main
		&.wancho
			max-width 650px			
	
	.b28-circulos
		top 10px
		display none
	.b28 .b28-main:before
		top 20px
		bottom inherit
		display none
	
	.b28-texto
		position static
		top 0
		height auto
	
	.b28-item.inpar .b28-texto
		bottom inherit
		top 0

	.b28		
		height auto
		padding 20px 0

@media screen and (max-width:740px)
	.b28-main
		&.wancho
			max-width 480px		
			

@media screen and (max-width:580px)
	.b28-main
		&.wancho
			max-width 250px					

	.b28 
		.owl-prev
			left -45px
			
		.owl-next
			right -30px	
			
	.b28-item.inpar,
	.b28-texto
		text-align center		