.b29 
	p 
		text-align justify
	
.b29-title
	font-size 20px
	color c-1
	margin-top 60px
	
.b29-texto
	font-family Arial
	font-size 15px
	color #88868b
	line-height 2
	margin-bottom 60px
	text-align justify
