.b31-title
	margin-top 45px
	h3, span
		font-family t-0
		font-size 22px
		color #004998
		margin 0
	span
		font-family t-2


.b31-tasa-interes
	margin-top 45px
	h3
		font-family t-0
		font-size 18px
		color #004998
	p
		color c-10
		font-family t-10
		font-size 13px
		line-height 2
		text-align justify
	span
		color #ef8f00
		font-family t-0
		font-size 12px














@media screen and (max-width 480px)
	.b31-texto
		margin-bottom 20px
	.b31-title
		margin-top 10px
		text-align center
	.b31-tasa-interes
		margin-top 10px
	.b31-tasa-interes p
		line-height inherit
	.b31-tasa-interes h3
		text-align center
