.b9
	min-height 385px
	background-size cover
	background-repeat no-repeat
	background-position center center
	position relative
	margin-bottom 10px
	.wancho
		max-width 850px

.b9-ico
	position absolute
	top 10px
	right 10px
	color c-1
	font-size 27px

.b9-content
	display table-cell
	vertical-align middle
	height 385px
	text-align center
	
.b9-titulo
	font-size 30px
	margin-bottom 30px
	h3
		font-size inherit
		
.b9-parrafo
	font-size 13px
	font-family t-10
	line-height 1.5
	text-align left
	margin-bottom 40px
	
.b9-btn
	a
		margin auto